.background_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom,  #47d5e2, #c1f8ea)
}

.button1 {
    background-color: teal;
    color: white;
    width: 300px;
    height: 60px;
    font-size: 25px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}




.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom,  #47d5e2, #c1f8ea)
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
    text-align: center
}

.input {
    width: 400px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    border-bottom: 2px solid #2e9287;
    outline: none;
}

.input:focus {
    border-bottom: 2px solid teal;
}

.button_LogSign {
    background-color: teal;
    color: white;
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0s;
}

.button_LogSign:hover {
    background-color: #b31d40; /* ホバー時の色 */
}

.button_LogSign:active {
    background-color: #ba832b; /* クリック時の色 */
}

.button_LogOut {
    background-color: #f4f0b4;
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
}

.button_LogOut:hover {
    background-color: #ea9917; /* クリック時の色 */
}

.button_LogOut:active {
    background-color: #d84c00;
}



.background_home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2500px;
    flex-Direction: 'column';
    background: linear-gradient(to bottom,  #f5ba61, #eecfb6)
    /* background: linear-gradient(to bottom,  #f3960b, #ffffff) */
}






.question_input1 {
    width: 300px;
    padding: 9px;
    margin-top: 5px;
    margin-bottom: 80px;
    font-Size: 20px;
    border-top: 2px solid #f56f27;
    border-bottom: 2px solid #f56f27;
    outline: none;
}
.question_input1::placeholder {
    opacity: 0.6;
    text-align: center;
}

.question_input2 {
    width: 710px;
    padding: 9px;
    margin-top: 5px;
    margin-bottom: 80px;
    font-Size: 20px;
    border-top: 2px solid #f56f27;
    border-bottom: 2px solid #f56f27;
    outline: none;
}
.question_input2::placeholder {
    opacity: 0.6;
    text-align: center;
}

.question_input3 {
    width: 870px;
    padding: 9px;
    margin-top: 5px;
    margin-bottom: 80px;
    font-Size: 20px;
    border-top: 2px solid #f56f27;
    border-bottom: 2px solid #f56f27;
    outline: none;
}
.question_input3::placeholder {
    opacity: 0.6;
    text-align: center;
}

.question_input4 {
    width: 200px;
    padding: 9px;
    margin-top: 5px;
    margin-bottom: 80px;
    font-Size: 20px;
    border-top: 2px solid #f56f27;
    border-bottom: 2px solid #f56f27;
    outline: none;
}

.question_input4::placeholder {
    opacity: 0.6;
    text-align: center;
}

.question_input5 {
    width: 660px;
    padding: 9px;
    margin-top: 5px;
    margin-bottom: 80px;
    font-Size: 20px;
    border-top: 2px solid #f56f27;
    border-bottom: 2px solid #f56f27;
    outline: none;
}

.question_input5::placeholder {
    opacity: 0.6;
    text-align: center;
}




.button_Create {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #e8900c;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    border: 5px;
    cursor: pointer;
}

.button_Create:hover {
    background-color: #ff9900;
}

.button_Create:active {
    background-color: #ff5e00;
}


.responseText {
    max-width: 90%;
    padding: 25px;
    border-radius: 15px;
    margin-top: 25px;
    font-size: 25px;
    background-color: #f09050;
}

.ResetButton {
    margin-top: 90px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #e8900c;
    border-radius: 10px;
}

.ResetButton:hover {
    background-color: #ff9900;
}